
@font-face {
    font-family: 'Trajan Pro';
    src: url('/fonts/TrajanPro-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trajan Pro';
    src: url('/fonts/TrajanPro-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Avenir LT Pro Light';
    src: url('/fonts/AvenirLTProLight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Maharlika';
    src: url('/fonts/Maharlika-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Zapfino';
    src: url('/fonts/Zapfino.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
/* Avenir LT Std 65 Medium - buttons, subheadings */
@font-face {
    font-family: 'Avenir LT Std';
    src: url('/fonts/Avenir LT Std 65 Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Avenir LT Pro Roman - body/roman style */
@font-face {
    font-family: 'Avenir LT Pro Roman';
    src: url('/fonts/AvenirLTProRoman.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Avenir Book - events search, filters, card body */
@font-face {
    font-family: 'Avenir Book';
    src: url('/fonts/AvenirLTProBook.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Avenir Medium - nav, footer links */
@font-face {
    font-family: 'Avenir Medium';
    src: url('/fonts/AvenirLTProMedium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Avenir Light Oblique - toggle description */
@font-face {
    font-family: 'Avenir LT Pro Light Oblique';
    src: url('/fonts/AvenirLTProLightOblique.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
